*{
   margin: 0;
   padding: 0;
}

html, body{
   height: 100%;
   background-color: grey;
}

.wrapper{
   background-color: rgb(255, 250, 250);
   opacity: 0.8;
   min-height: 100%;
   display: grid;
   grid-template-columns: 0.5fr 3fr 0.5fr;
   grid-template-rows: 100px 1fr;
   row-gap: 10px;
   column-gap: 10px;
   grid-template-areas: "header header header"
                        "cats content rating"
                        "footer footer footer";
}

// .header, .cats, .content, .rating, .footer{
//    /* padding: 30px; */
//    /* margin: 0px 0px 15px 0px; */
//    border: 2px dashed black;
// }

.header{
   padding: 0;
   grid-area: header;
   font-size: 24px;
   text-align: center;
}

.cats{
   grid-area: cats;
   padding: 0px;
   background-color: rgb(180, 176, 176);
}

.bar{
   display: flex;
   flex-direction: column;
   text-align: center;
}

input[name = 'c']{
   position: absolute;
   visibility: hidden;
   // display: none;
}

.nav{
   color: rgb(12, 12, 11);
   width: 100%;
   height: 50px;
   border-bottom: 1px solid rgb(20, 20, 19);
   font-size: 18px;
   font-weight: 700;
}

.nav:hover{
   background-color: grey;
   cursor: pointer;
}

.nav:active{
  color:white;
  background-color: rgb(20, 20, 20);
}

// #c1:checked ~ .grid__item{
//    opacity: 0.3;
// }

// #c2:checked ~ .grid__item_1, .grid__item_1, .grid__item_3, .grid__item_4, 
// .grid__item_5, .grid__item_6, .grid__item_8{
//    opacity: 0.3;
// }

#c1:checked ~ .grid-href > img:not([alt = "абессинская"]), 
#c2:checked ~ .grid-href > img:not([alt = "британская"]), 
#c3:checked ~ .grid-href > img:not([alt = "мэйн-кун"]), 
#c4:checked ~ .grid-href > img:not([alt = "русская голубая"]), 
#c5:checked ~ .grid-href > img:not([alt = "сиамская"]){
   opacity: 0.1;
}

main{
   grid-area: content;
}

.content{
   height: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   column-gap: 10px;
   row-gap: 10px;
}

.grid-href{
   position: relative;
}

.grid-href:hover .grid__description{
   opacity: .7;
   left: 0;
}

.grid__description{
   z-index: 1;
   font-size: 24px;
   padding: 10px 0px 0px 0px ;
   margin: 150px 0px 0px 0px;
   position: absolute;
   opacity: 0;
   height: 50px;
   width: 300px;
   border: 1px solid #000;
   background-color: #000;
   color: white;
   opacity: 0;
   border-radius: 10px;
   transition: left 0.4s ease;
   left: 100%;
}

.grid__item{
   height: 300px;
}

.grid__item_1{

}

.grid__item_2{
   grid-column-start: span 2;
}

.grid__item_3{}

.grid__item_4{}

.grid__item_5{}

.grid__item_6{
   grid-column-start: span 2;
}

.grid__item_7{}

.grid__item_8{
   grid-column-start: span 3;
}

.grid__item img{
 width: 100%;
 height: 100%;
}

.rating{
}

.rating-body{
   background-color: rgb(180, 176, 176);
}

h2{
   color: #ee211a;
}

.rating-row{
   display: flex;
   flex-direction: column;
}

#rating:checked ~ .rating-row > .rating__item {
	order: var(--rating);
}

#rating:checked ~ .rating-row{
   flex-direction: column-reverse;
}


.rating__item{
   margin-top: 25px;
} 

.rating__rating{
   height: 15px;
}

.rating__item:first-child .rating__rating{
   width: 80%;
   background: linear-gradient(90deg, #79d63a, #fff);
}

.rating__item:nth-child(2) .rating__rating{
   width: 70%;
   /* height: 15px; */
   background: linear-gradient(90deg, #dbc81b, #fff);
}

.rating__item:nth-child(3) .rating__rating{
   width: 90%;
   /* height: 15px; */
   background: linear-gradient(90deg, #1cdf26, #fff);
}

.rating__item:nth-child(4) .rating__rating{
   width: 20%;
   /* height: 15px; */
   background: linear-gradient(90deg, #ee211a, #fff);
}

.rating__item:last-child .rating__rating{
   width: 60%;
   /* height: 15px; */
   background: linear-gradient(90deg, #eebc1a, #fff);
}

.rating__title {
}

.rating-number {
   display: flex;
   justify-content: space-between;
}

.rating__number{
   font-size: 16px;
   font-weight: bold;
}

.footer{
   padding: 50px;
   grid-area: footer;
   display: flex;
   justify-content: space-between;
   border-top: 1px solid #000;
}

.footer .footer__add{
   color: blue;
   text-decoration: none;
}