table#calendar a {
    text-decoration: none;
}

table#calendar tr#title th {
    background: #AAC;
    color: black;
    border: 1px solid #224;
    font-size: 120%;
}

table#calendar tr#days th {
    color: #CCE;
    background-color: #224;
    font-weight: bold;
    text-align: center;
    padding: 1px 0.33em;
}

table#calendar td {
    color: #777;
    text-align: right;
    border: 1px solid;
    border-color: #BBB #EEE #EEE #BBB;
}

table#calendar td.sat {
    border-right: 1px solid #BBB;
}

table#calendar td a {
    font-weight: bold;
    display: block;
    margin: 0;
}

table#calendar td a:link {
    color: navy;
}

table#calendar td a:visited {
    color: purple;
}

table#calendar td a:hover {
    background: #FF6;
}

table#calendar td.sat, td.sun {
    background: #FDD;
}

table#calendar td.jun, td.aug {
    background: #AAB;
    color: #889;
    border: 1px solid #AAB;
    border-right-color: #99A;
}

table#calendar tr#lastweek td {
    border-bottom: 2px solid #AAB;
}

table#calendar td.holiday {
    background: #FAA;
    border-color: #BBB #FCC #FCC #BBB;
}
table#calendar td#jul16 {
    background-color: yellow;
    border: 1px solid black;
}