body {
  background: white url("WidgetCoLogo.gif") center no-repeat;
  color: black;
}
div#contact-info {
    text-align: right;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1em solid #446;
    padding-top: .25em;
    color: #321;
    font-size: 90%;
}
div#contact-info:first-line {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.111em;
}
div#footer {
    text-align: center;
    margin-top: 2.5em;
    border-top: 1px solid grey;
    font-size: 85%;
    color: #AAA;
    padding-top: 0.33em;
    letter-spacing: 1px;
}
div#footer a:link {
    color: #778;
}
div#footer a:visited {
    color: #878;
}
p {
    margin-left: 10%;
    margin-right: 10%;
}
p#summary {
    font-style: italic;
}
a.stockinfo {
    font-weight: bold;
    font-style: normal;
    color: blue;
    background: white;
}
a.stockinfo:hover {
    background: blue;
    color: white;
}
p.lead-para:first-letter {
    font-weight: bold;
    font-size: 133%;
}
h1 {
    margin-bottom: 0;
}
h2 {
    margin: 0 5% 0 7.5%;
    font-size: 120%;
    font-style: italic;
}
div.release {
    font-variant: small-caps;
    margin-right: 10px;
    padding: 0.125em 0;
    border: 1px solid black;
    border-width: 1px 1em 1px 0;
}